numpy
pandas
tqdm
rdkit
scipy
matplotlib

lifelines # used for concordance index calc
#biopython # used for cmap

# model building
torch
torch_geometric

# optional:
torchsummary 
tabulate # for torch_geometric.nn.summary
ipykernel
plotly
requests