numpy
pandas
tqdm
rdkit
scipy

# for generating figures:
matplotlib
seaborn
statannotations

lifelines

# model building
torch
torch-geometric
transformers

# optional:
torchsummary
tabulate
ipykernel
plotly
requests
#ray[tune]

submitit
ProDy

# for chemgpt
selfies
